.breadcrumb {
  a {
    margin-right: 8px;
    text-decoration: none;
    color: var(--Main-White, #FFF);
  }

  .breadcrumb-divider {
    margin-right: 8px;
  }

  .breadcrumb-item:last-child,
  .breadcrumb-divider:last-child {
    margin-right: 0;
  }
}