.card__tags {
  margin-bottom: 12px;
  
  span {
    border-radius: 4px;
    padding: 4px 8px;
    font-family: Raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }
}