.breadcrumb a {
  margin-right: 8px;
  text-decoration: none;
  color: var(--Main-White, #FFF);
}
.breadcrumb .breadcrumb-divider {
  margin-right: 8px;
}
.breadcrumb .breadcrumb-item:last-child,
.breadcrumb .breadcrumb-divider:last-child {
  margin-right: 0;
}