.ordonnance-heading{
  /* Heading/H1 */
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 120% */
  letter-spacing: 0.4px;
}
.ordonnance-head-text{
  flex: 1 0 0;
  align-self: stretch;
  /* Body/Medium/Semi */
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}
.ordonnance-head-details{
  display: flex;
  padding-bottom: 32px;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
.ordonnance-with-text{
margin-bottom:24px;
}
.ordonnance-phase{
    border-top: 1px solid #DDD6D0;
    margin-top: 24px;
}
.ordonnance-phase-heading{
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.24px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.ordonnance-phase .ordonnance__media-item{
    max-width: 140px;
    height: 180px;
}
.ordonnance-phase .ordonnance__media{
  border-radius: 4px;
  height: 100%;
}
.ordonnance-with-text .ordonnance__grid{
  gap: 16px !important;
}
.ordonnance__content .product__title {
    margin-top: 0px;
    margin-bottom: 12px;
    line-height: 24px;
    letter-spacing: 0.16px;
    font-size: 16px;
}
.ordonnance__description p{
  display: inline;
}
.ordonnance__description{
  font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
    margin-bottom: 12px;
}
.ordonnance__product--add{
display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}
.ordonnance__product-price .price{
  font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
letter-spacing: 0.14px;
}
.ordonnance__check-btn button{
  height: auto;
    padding: 8px 20px;
    min-height: auto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.ordonnance--right__inner{
width: 60%;
}
.ordonnance--right_img{
  width: 72px;
    height: 72px;
    border-radius: 4px;
    overflow: hidden;
}
.ordonnance--right_head{
display: flex;
align-items: flex-start;
gap: 12px;
align-self: stretch;
}
.ordonnance--right_headings{
      display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}
.ordonnance--right_headings h4{
  margin: 0px;
  font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
letter-spacing: 0.2px;
}
.selected-products-title{
  font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 16px; /* 133.333% */
letter-spacing: 0.12px;
text-transform: uppercase;
}













