.ordonnance-heading {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .ordonnance-heading {
    margin-bottom: 16px;
  }
}

.ordonnance-head-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  /* Body/Medium/Semi */
  font-size: 16px;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}

.ordonnance-head-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

@media screen and (max-width: 768px) {
  .ordonnance-head-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.ordonnance-with-text {
  margin-bottom: 24px;
}

.ordonnance-phase {
  border-top: 1px solid #ddd6d0;
  margin-top: 24px;
}

@media screen and (max-width: 768px) {
  .ordonnance-phase {
    margin-top: 32px;
  }
}
.ordonnance-phase-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px; /* 133.333% */
  letter-spacing: 0.24px;
  margin-top: 24px;
  margin-bottom: 16px;
}

.ordonnance-phase .ordonnance__media-item {
  max-width: 140px;
  height: 180px;
  border-radius: 4px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .ordonnance-phase .ordonnance__media-item {
    max-width: 100px;
    height: 130px;
  }
}
.ordonnance-phase .ordonnance__media {
  height: 100%;
}

.ordonnance-with-text .ordonnance__grid {
  gap: 16px !important;
}

@media screen and (max-width: 768px) {
  .ordonnance-with-text .ordonnance__grid {
    gap: 12px !important;
  }
}
.ordonnance-with-text .ordonnance__grid .ordonnance__text-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.ordonnance__content .product__title {
  margin-top: 0px;
  margin-bottom: 12px;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .ordonnance__content .product__title {
    font-size: 14px;
  }
}
.ordonnance__description p {
  display: inline;
}

.ordonnance__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
  margin-bottom: 36px;
}

@media screen and (max-width: 768px) {
  .ordonnance__description {
    font-size: 12px;
    margin-bottom: 12px;
  }
}
.ordonnance__product--add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .ordonnance__product--add {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.ordonnance__product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .ordonnance__product-price {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}
.ordonnance__product-price .price {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}

.ordonnance__check-btn button {
  height: auto;
  padding: 10px 24px;
  min-height: auto;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .ordonnance__check-btn button {
    width: 100%;
    padding: 8px 20px;
  }
}
.ordonnance--right__inner {
  width: 60%;
  margin-left: auto;
  border-radius: 4px;
  overflow: hidden;
  position: sticky;
  top: 50px;
}

@media screen and (max-width: 768px) {
  .ordonnance--right__inner {
    width: 100%;
  }
}
.ordonnance--right-top {
  padding: 24px;
  border-bottom: 1px solid #ddd6d0;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .ordonnance--right-top {
    padding: 16px;
  }
}
.ordonnance--right_img {
  width: 72px;
  height: 72px;
  border-radius: 4px;
  overflow: hidden;
}

.ordonnance--right_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.ordonnance--right_headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.ordonnance--right_headings h4 {
  margin: 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: 0.2px;
}

@media screen and (max-width: 768px) {
  .ordonnance--right_headings h4 {
    font-size: 16px;
  }
}
.selected-products-title {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  text-transform: uppercase;
  cursor: pointer;
}

.selected__products {
  margin: 12px 4px 0px 16px;
  max-height: 0;
  -webkit-transition: max-height 0.8s ease, opacity 1s ease;
  transition: max-height 0.8s ease, opacity 1s ease;
  opacity: 0;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .selected__products {
    margin: 12px 0px 0px 16px;
  }
}
.selected__products.show {
  max-height: 195px;
  opacity: 1;
}

.selected__products::-webkit-scrollbar {
  width: 6px;
}

.selected__products::-webkit-scrollbar-track {
  background-color: rgba(221, 214, 208, 0.2);
  border-radius: 8px;
}

.selected__products::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #ddd6d0;
          box-shadow: inset 0 0 6px #ddd6d0;
  border-radius: 8px;
}

.selected-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
  .selected-product {
    gap: 8px;
  }
}
.selected-product__image img {
  width: 56px;
  height: 56px;
  border-radius: 4px;
  overflow: hidden;
}

.selected-product__image {
  width: 56px;
  height: 56px;
}

.selected-product__info .title {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
  margin-bottom: 8px;
}

.selected-product__info .price,
.selected-product__info .variant {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.12px;
}

.num-selected_products {
  margin-right: 4px;
}

.ordonnance--right-bottom {
  padding: 24px;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .ordonnance--right-bottom {
    padding: 24px 16px;
  }
}
.ordonnance--bottom-total h5 {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}

.ordonnance--bottom-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}

.ordonnance--bottom-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .ordonnance--bottom-delivery {
    margin-top: 6px;
    margin-bottom: 12px;
  }
}
.ordonnance--delivery {
  font-weight: 600;
}

.ordonnance--right-bottom button svg {
  margin: 0px 8px;
}

.ordonnance--bottom-info {
  margin-bottom: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}

@media screen and (max-width: 768px) {
  .ordonnance--bottom-info {
    font-size: 12px;
    margin-bottom: 16px;
  }
}
.dev__product-form__submit {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  padding: 16px 24px;
}

.ordonnance--shipping-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .ordonnance--shipping-info {
    margin-top: 12px;
  }
}
.ordonnance--right-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background: #fbeee0;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .ordonnance--right-option {
    margin-top: 16px;
  }
}
.ordonnance--right-option img {
  width: 112px;
  height: 112px;
}

@media screen and (max-width: 768px) {
  .ordonnance--right-option img {
    width: 84px;
    height: auto;
  }
}
.ordonnance--option-content {
  padding: 16px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.14px;
}

@media screen and (max-width: 768px) {
  .ordonnance--option-content {
    padding: 12px;
  }
}
.ordonnance--option-icon {
  line-height: 0;
}

.ordonnance--option-text {
  margin-top: 16px;
}

@media screen and (max-width: 768px) {
  .ordonnance--option-text {
    margin-top: 0;
  }
}
.ordonnance--option-text p {
  margin: 0px;
}

.ordonnance--right-chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
  border-radius: 4px;
  background: #fbeee0;
  overflow: hidden;
  padding: 16px;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .ordonnance--right-chat {
    margin-top: 16px;
    gap: 12px;
    padding: 12px;
  }
}
.ordonnance--right-chat img {
  width: 48px;
  height: 48px;
}

.ordonnance--chat-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.16px;
  cursor: pointer;
}

.ordonnance--chat-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.14px;
  margin-top: 4px;
}

.ordonnance--chat-text p {
  margin: 0px;
}

.ordonnance__check-btn .added-checked {
  display: none;
}

.ordonnance__check-btn .add-button.added .added-checked {
  display: block;
  line-height: 0;
  margin-right: 8px;
}

.ordonnance__check-btn .add-button.added {
  background: transparent;
  color: #443d36;
  cursor: not-allowed;
}

.ordonnance-head-btn .add-all-button {
  height: auto;
  padding: 10px 24px;
  min-height: auto;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .ordonnance-head-btn .add-all-button {
    width: 100%;
    display: block;
    padding: 8px 20px;
  }
}
@media screen and (max-width: 768px) {
  .ordonnance-head-btn {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .ordonnance--right-block {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .ordonnance--left-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media screen and (max-width: 768px) {
  .ordonnance__check-btn {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    display: block;
  }
}
.ordonnance-phase {
  padding: 2rem 0;
}
.ordonnance-phase .ordonnance-phase__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.ordonnance-phase__products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8rem;
}
.ordonnance-phase__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}
@media (min-width: 768px) {
  .ordonnance-phase__product {
    gap: 16px;
  }
}
.ordonnance-phase__product > img {
  width: 100px;
  height: 130px;
  border-radius: 4px;
}
@media (min-width: 768px) {
  .ordonnance-phase__product > img {
    width: 140px;
    height: 180px;
  }
}
.ordonnance-phase__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}