@charset "UTF-8";
.filter-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 16px 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  border-bottom: 1px solid #D4CCC4;
  background: var(--Main-White, #FFF);
}

.simple-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  border: none;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.simple-button p {
  color: var(--Main-Brown, #443D36);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  text-transform: uppercase;
  margin: 0;
}
.simple-button .svg-wrapper {
  width: 20px;
  height: 20px;
  position: relative;
}
.simple-button .svg-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}

.simple-button[aria-expanded=false] .icon-plus {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  visibility: visible;
}

.simple-button[aria-expanded=false] .icon-minus {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
  visibility: hidden;
}

.simple-button[aria-expanded=true] .icon-plus {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
  visibility: hidden;
}

.simple-button[aria-expanded=true] .icon-minus {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 1;
  visibility: visible;
}

.filter-panel {
  display: none;
}

.filter-panel.active {
  display: block;
  padding: 16px 64px;
  background: #f9f9f9;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes égales */
  grid-template-rows: repeat(4, 1fr); /* 4 lignes égales */
  gap: 32px; /* Espacement entre les éléments */
}

/* Article principal */
.main-article__image {
  grid-column: 1/3;
  grid-row: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.main-article__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.main-article__content {
  grid-column: 1/3;
  grid-row: 3/5;
  padding: 16px;
  border-radius: 4px;
}

/* Articles secondaires */
.blog-grid__secondary-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes dans cette zone */
  grid-template-rows: repeat(2, 1fr); /* 2 lignes */
  grid-column: 3/5; /* Occupe les colonnes 3 et 4 */
  grid-row: 1/3; /* Occupe les lignes 1 et 2 */
  gap: 24px; /* Espacement interne entre les articles */
}

.secondary-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
  border-radius: 4px;
  overflow: hidden;
  background-color: #FFF;
}
.secondary-article .secondary-article__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  height: 100%;
}
.secondary-article .secondary-article__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; /* Permet aux tags de passer à la ligne si nécessaire */
}
.secondary-article .secondary-article__tags .tag {
  display: inline-block;
  background-color: #F5F5F5;
  color: #555;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 16px; /* Forme arrondie pour les tags */
  font-weight: bold;
}

.secondary-article img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}

.secondary-article__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; /* Espace entre le titre et le texte */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; /* Aligne les éléments à gauche */
}
.secondary-article__content .secondary-article h3 {
  font-size: 14px;
  padding: 8px;
}
.secondary-article__content .secondary-article__content h3 {
  font-size: 16px;
  color: #333;
  margin: 0;
}
.secondary-article__content .secondary-article__content p {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.secondary-article h3 {
  font-size: 14px;
  padding: 8px;
}

/* Cartes spécialisées */
.blog-grid__special-cards {
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* 2 lignes */
  grid-column: 3/5; /* Occupe les colonnes 3 et 4 */
  grid-row: 3/5; /* Occupe les lignes 1 et 2 */
  gap: 24px; /* Espacement interne entre les articles */
}

.special-card {
  padding: 16px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--Main-Peach-dark, #FBEEE0);
}

.special-card h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

.special-card p {
  font-size: 14px;
  margin-bottom: 16px;
}

.promo-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border-radius: 4px;
  background: #69543F;
  overflow: hidden;
}
.promo-cards .promo-cards__image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28.11%, #C8A77C), color-stop(50%, rgba(200, 167, 124, 0)));
  background: linear-gradient(180deg, #C8A77C 28.11%, rgba(200, 167, 124, 0) 50%);
}
.promo-cards .promo-cards__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promo-cards .promo-cards__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 32px;
}
.promo-cards .promo-cards__text h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.32px;
  color: var(--Main-White, #FFF);
  margin: 0px 0px 16px;
}
.promo-cards .promo-cards__text p {
  color: var(--Main-White, #FFF);
}
.promo-cards .promo-cards__text button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background: var(--Main-Peach, #FFF6EB);
  color: var(--Main-Brown, #443D36);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.32px;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}